/*
@media(min-width:768px) {}
@media(min-width:992px) {}
@media(min-width:1200px){}
@media(min-width:1320px){}
@media(min-width:768px)     {
    #logo {font-size:11px;}
    h1 {font-size:15px;}
}
@media(min-width:992px)     {
    #logo {font-size:16px;}
    h1 {font-size:20px;}
}
@media(min-width:1200px)    {
    #logo {font-size:20px;}
    h1 {font-size:25px;}
}
@media(min-width:1320px)    {
    #logo {font-size:24px;}
    h1 {font-size:30px;}
}
*/

.navbar .brand { width:auto; }

.navbar a:link.brand,
.navbar a:visited.brand {
    color: #ffbb42;
}

.navbar a:active.brand,
.navbar a:hover.brand {
    color: #ffbb42;
}

.pane .navbar .brand { display:none; }

@media (max-height:689px) and (orientation:landscape) {
    body {
        font-size:18px;
    }
    h1 {
        font-size:58px;
    }
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family:"AvantGarde Bold";
    src: url("../fonts/731063/85564178-fd88-4387-9226-0e632723ca24.eot?#iefix");
    src: url("../fonts/731063/85564178-fd88-4387-9226-0e632723ca24.eot?#iefix") format("eot"), url("../fonts/731063/e9a79553-7093-47c7-8d9c-70dc3619e94b.woff") format("woff"), url("../fonts/731063/7265b8d0-a67c-4a8b-84aa-273d1759270a.ttf") format("truetype"),url("../fonts/731063/75d377f2-28ee-43f8-b231-44f8eba218c4.svg#75d377f2-28ee-43f8-b231-44f8eba218c4") format("svg")
}
