<div class="primary-footer"> 
      <div class="container"> 
         <div class="row"> 
             <div class="col-md-5 col-sm-6 col-xs-12 footer-section-container text-left"> 
             <a href="#" class="m-bot-20 footer-logo"><img class="retina" src="/assets/images/brand-logo-ondark.png" alt=""> </a> 
            <p class="footer-text m-top-20"> Streamline is a digital innovation agency. We design and develop web applications, apps, chatbots, data-centric applications, and custom software solutions as beautiful as they are functional. </p>
            </div>  
            <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container"> 
                 <div class="footer-section text-left"> 
                 <h5 class="text-uppercase">Locations</h5> 
                    <strong class="m-top-30">Headquarters</strong> <p class="footer-address">169 11th st,</p> 
                    <p class="footer-address">San Francisco, CA 94103</p> 
                    <p class="footer-address">+1(415) 659-9967</p> <br><strong class="m-top-20">East Coast Office</strong> <p class="footer-address">28 Robin St,</p> <p class="footer-address">Buffalo, NY 14228</p><br>  <strong class="m-top-20">Montevideo Office</strong> <p class="footer-address">Gestido 2616 apto 103,</p> <p class="footer-address">Montevideo, Uruguay</p>  </div>
  </div> 
   <div class="col-md-4 col-sm-6 col-xs-12 footer-section-container"> 
       <div class="footer-section text-left"> 
       <h5 class="text-uppercase">Links</h5> 
       <a class="footer-link transition-link m-top-30" href="{% link about.html %}" rel="nofollow">About</a> <br>
       <a class="footer-link transition-link" href="{% link work.html %}" rel="nofollow">Work</a> <br>
       <a class="footer-link transition-link" href="{% link services.html %}">Services</a> <br>
       <a class="footer-link transition-link" href="{% link industries.html %}">Industries</a> <br>
       <a class="footer-link transition-link" href="{% link contact.html %}" rel="nofollow">Contact</a>
   </div> 
     <div class="social-link circle pull-left m-top-30">
      <a href="https://github.com/streamlinesocial"> <i class="fa fa-github"></i> </a>
      <a href="https://www.facebook.com/streamlinesocial"> <i class="fa fa-facebook"></i> </a>
      <a href="https://twitter.com/streamlinesocial"> <i class="fa fa-twitter"></i> </a>
      <a href="https://www.linkedin.com/company/1109089"> <i class="fa fa-linkedin"></i> </a>
      <a href="https://dribbble.com/streamlinesocial"> <i class="fa fa-dribbble"></i> </a>
   </div>
</div> 
</div> 
<span class="footer-text m-top-10 footer-rights"> ©2022 Streamline Social, LLC | All Rights Reserved </span>
</div> 
</div>

<script type="text/javascript">
    _linkedin_partner_id = "663076";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
</script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=663076&fmt=gif" />
</noscript>

<!-- Quantcast Tag -->
<script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
        var elem = document.createElement('script');
        elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
        elem.async = true;
        elem.type = "text/javascript";
        var scpt = document.getElementsByTagName('script')[0];
        scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
        qacct:"p-hjyGUcBtT8Yyz"
    });
</script>

<noscript>
    <div style="display:none;">
        <img src="//pixel.quantserve.com/pixel/p-hjyGUcBtT8Yyz.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
</noscript>
<!-- End Quantcast tag -->
<!--</footer>-->
