<div class="primary-footer"> 
      <div class="container"> 
         <div class="row"> 
             <div class="col-md-4 col-sm-6 col-xs-12 footer-section-container text-left"> 
             <a href="#" class="m-bot-20 footer-logo"><img class="retina" src="/assets/images/brand-logo-ondark.png" alt=""> </a> 
            <p class="footer-text m-top-20"> Streamline is a digital innovation agency, We design and develop websites, iPhone and Android apps, and custom software solutions that are as beautiful as they are functional. </p> 
            </div>  
            <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container"> 
                 <div class="footer-section text-left"> 
                 <h5 class="text-uppercase">Locations</h5> 
                    <strong class="m-top-30">Headquarters</strong> <p class="footer-address">169 11th st,</p> 
                    <p class="footer-address">San Francisco, CA 94103</p> 
                    <p class="footer-address">+1(415) 497-9641</p> <br><strong class="m-top-20">East Coast Office</strong> <p class="footer-address">28 Robin St,</p> <p class="footer-address">Buffalo, NY 14228</p><br>  <strong class="m-top-20">Montevideo Office</strong> <p class="footer-address">Gestido 2616 apto 103,</p> <p class="footer-address">Montevideo, Uruguay</p>  </div> 
  </div> 
  <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container social-links-container vertical-center"> 
      <h5 class="text-uppercase">Social Links</h5> 
      <div class="social-link circle pull-right m-top-30"> 
      <a href="https://github.com/streamlinesocial"> <i class="fa fa-github"></i> </a> 
      <a href="https://www.facebook.com/streamlinesocial"> <i class="fa fa-facebook"></i> </a> 
      <a href="https://twitter.com/streamlinesocial"> <i class="fa fa-twitter"></i> </a> 
      <a href="https://www.linkedin.com/company/1109089"> <i class="fa fa-linkedin"></i> </a> 
      <a href="https://dribbble.com/streamlinesocial"> <i class="fa fa-dribbble"></i> </a> 
  </div> 
</div> 
   <div class="col-md-2 col-sm-6 col-xs-12 footer-section-container"> 
       <div class="footer-section text-left"> 
       <h5 class="text-uppercase">Links</h5> 
       <a class="footer-link transition-link m-top-30" href="{% link about.html %}" rel="nofollow">About</a> <br>
       <a class="footer-link transition-link" href="{% link work.html %}" rel="nofollow">Work</a> <br>
       <a class="footer-link transition-link" href="{% link services.html %}">Services</a> <br>
       <a class="footer-link transition-link" href="{% link industries.html %}">Industries</a> <br>
       <a class="footer-link transition-link" href="{% link contact.html %}" rel="nofollow">Contact</a>
   </div> 
</div> 
</div> 
<span class="footer-text m-top-10 footer-rights"> ©2018 Streamline Social, LLC | All Rights Reserved </span>
</div> 
</div>

<!--</footer>-->
